<div class="form-container">
    <!-- <div id="load"> -->
    <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= form_for @listing do |f| %>
  <% if @listing.errors.any? %>
    <div class="alert alert-danger" id="alert-wrap">
      <h2 class="alert-head">Please complete all required fields:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    </div>
    </div>
  <% end %>

<div id="basic-page">
<h1 class="basics-header">Basic Details</h1>
    
      <div class="form-row">
        <%= f.label :address, "ADDRESS", class: "address-label" %><br>
        
        <%=f.text_field :unit_number, placeholder: "Unit # (optional)", class: "unit-number-form" %><%= f.text_field :address, class: 'address-form', placeholder: "Enter your Address" %>
      </div>


      <div class="bed-bath-half">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"><div class="bed-bath-half-wrap1">
                <%= f.label :bedrooms, "BED"%><br>
                <%= f.select :bedrooms, (1..10).to_a%>
                </div>
            </div>

         <div class="col-md-4 col-sm-4 col-xs-12"><div class="bed-bath-half-wrap2">
            <%= f.label :bathrooms, "BATH"%><br>
            <%= f.select :bathrooms, (1..10).to_a%>
            </div>
        </div>

         <div class="col-md-4 col-sm-4 col-xs-12"><div class="bed-bath-half-wrap3">
             <%= f.label :half_bathrooms, "HALF BATH"%><br>
            <%= f.select :half_bathrooms, (0..10).to_a%>
            </div>
        </div>
      </div>
    </div>

    <div class="home-neighborhood-form">
    <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6-12">
       <div class="home-neighbor-wrap-home home-arrow"> 
        <%= f.label :home_type, "TYPE OF HOME"%><br>
        <%= f.select :home_type, type_property %>
        </div>
    </div>

     <div class"col-md-6 col-sm-6 col-xs-12">
        <div class="home-neighbor-wrap neighbour-arrow">
        <%= f.label :neighbourhood_id, "NEIGHBOURHOOD", class: "neighbour-label" %><br>
        <%= f.collection_select :neighbourhood_id, Neighbourhood.all, :id, :name%>
        </div>
    </div>
    </div>
      </div>
      <div class="form-button-container">
        <a href="#" id="to-details">Next</a>
      </div>

<br>
    
     </div> <!-- basic-page -->

   

<br>
 
<!-- ##################### -->

      <div id="details-page">
<h1 class="details-head">Property Details</h1>
      <div class="row">

        <div class="col-md-4 col-sm-4 col-xs-12"> <!-- left -->

           <div class="form-row">
              <%= f.label :price, "PRICE", class: "details-label-lg" %><br><%= f.text_field :price, class: "details-input-lg" %>
            </div>

            <div class="form-row">
              <%= f.label :postal_code, "POSTAL CODE", class: "details-label-lg" %><br><%= f.text_field :postal_code, class: "details-input-lg" %>
            </div>

            <div class="form-row">
              <%= f.label :size, "SIZE", class: "details-label-lg" %><br><%= f.text_field :size, class: "details-input-lg" %>
            </div>

        </div>

         <div class="col-md-4 col-sm-4 col-xs-12" id="details-select-wrap"> <!-- right -->
            <div class="form-row">
              <%= f.label :year_built, "YEAR BUILT", class: "details-label-lg" %><br><%= f.text_field :year_built, class: "details-input-lg" %>
            </div>

            <div class="form-row">
              <%= 
              f.label :type_ownership,
               "TYPE OWNERSHIP", class: "details-label-lg" %><br>
               <%= f.select :type_ownership, type_ownership %>
            </div>

            <div class="form-row">
              <%= f.label :lot_size, "LOT SIZE", class: "details-label-lg" %><br><%= f.text_field :lot_size, class: "details-input-lg" %>
            </div>

        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
         <div class="alert alert-success details-hint-box">
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Hint!</strong><br> To help us list your property, we will need the following: Postal Code, Year Built, Price, Type of Ownership & Size .
                </div>
                <div class="alert alert-success details-hint-box"><strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Hint!</strong><br>
                Examples of type ownership include: Freehold Strata, Freehold NonStrata, Leasehold Prepaid-Strata.
              </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12" id="detail-label-wrap">
          <div class="col-md-4 col-sm-4 col-xs-12 min-padding">

            <%= f.label :levels, "LEVEL", class: "details-label-sm" %><br><%= f.text_field :levels, class: "details-input-sm" %>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 min-padding">
            <%= f.label :taxes, "TAXES", class: "details-label-sm" %><br><%= f.text_field :taxes, class: "details-input-sm" %>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 min-padding">
          <%= f.label :strata_fees, "STRATA", class: "details-label-sm" %><br><%= f.text_field :strata_fees, class: "details-input-sm" %>

          </div>
          </div>

        <div class="col-md-6 col-sm-6 col-xs-10">
        <div class="details-button-wrap"> 
          <a href="#" id="back-to-basic">Back</a>
          <!-- </div> -->
          <!-- <div class="col-md-6 col-sm-6 col-xs-6"> -->
          <a href="#" id="to-amenities">Next</a>
          </div>
          </div>
      </div> <!-- details-page -->
        </div> <!-- row end -->

<!-- ##################### -->

      <div id="amenities-page">
      <h1 class="amenities-head">Amenities</h1>
      <div class="row">
      <div class="amenities-check-wrap">
        <div class="col-md-6 col-sm-6 col-xs-12"> <!-- left -->
            <h3 class="amenities-sub-head">In-suite</h3>
              <%= f.label "Basement", class: "amenities-label" %><%= f.check_box :basement, class:"amenities-check-box" %><br>
              <%= f.label "Storage", class: "amenities-label" %><%= f.check_box :storage, class:"amenities-check-box" %><br>
              <%= f.label "Fireplaces", class: "amenities-label" %><%= f.check_box :fireplaces, class:"amenities-check-box" %><br>
              <%= f.label :air_conditioning, "A/C", class: "amenities-label" %><%= f.check_box :air_conditioning, class:"amenities-check-box" %><br>
              <%= f.label "In-suite Laundry", class: "amenities-label" %><%= f.check_box :insuite_laundry, class:"amenities-check-box" %><br>
              <%= f.label "Washer", class: "amenities-label" %><%= f.check_box :washer, class:"amenities-check-box" %><br>
              <%= f.label "Dishwasher", class: "amenities-label" %><%= f.check_box :dishwasher, class:"amenities-check-box" %><br>
              <%= f.label "Stove", class: "amenities-label" %><%= f.check_box :stove, class:"amenities-check-box" %><br>
              <%= f.label "Fridge", class: "amenities-label" %><%= f.check_box :fridge, class:"amenities-check-box" %><br>
              <%= f.label "Pet Friendly", class: "amenities-label" %><%= f.check_box :pet_friendly, class:"amenities-check-box" %><br>
          </div>

        <div class="col-md-6 col-sm-6 col-xs-12"> <!-- right -->
          <div class="amenities-check-right-wrap">
            <h3 class="amenities-sub-head">Other</h3>
              <%= f.label :elevator, class: "amenities-label" %><%= f.check_box :elevator, class: "amenities-check-box" %> <br>
              <%= f.label :bike_room, "Bike Room", class: "amenities-label"%><%= f.check_box :bike_room, class: "amenities-check-box" %><br>
              <%= f.label :garden, class: "amenities-label" %><%= f.check_box :garden, class: "amenities-check-box" %><br>
              <%= f.label "Gym", class: "amenities-label" %><%= f.check_box :gym, class: "amenities-check-box" %><br>
              <%= f.label :amenities_room, "Amenities Room", class: "amenities-label" %><%= f.check_box :amenities_room, class: "amenities-check-box" %><br>
              <%= f.label "Hot Tub", class: "amenities-label" %><%= f.check_box :hot_tub, class: "amenities-check-box" %><br>
              <%= f.label "pool", class: "amenities-label" %><%= f.check_box :pool, class: "amenities-check-box" %><br>
              <%= f.label "Weelchair Accessible", class: "amenities-label" %><%= f.check_box :wheelchair_accessible, class: "amenities-check-box" %><br>
              <%= f.label "doorman", class: "amenities-label" %><%= f.check_box :doorman, class: "amenities-check-box" %><br>
              </div>
              </div>
              </div>
           <div class="col-md-8 col-sm-8 col-xs-12 no-padding"> <!-- summary and desc. -->
                 <div id="summary-wrap">
                    <h3>Property Summary</h3>
                    <%= f.text_area :property_summary, class: "summary-text-area"%>
                    <h3>Features Description</h3>
                    <%= f.text_area :features_description, class: "summary-text-area"%><br>
                </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 no-padding">
              <div class="hint-box-wrap">
              <div class="alert alert-success hint-box">
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Hint!</strong> <br>This is a general summary of your property. (Key information such as: number of bedrooms, bathrooms,neighbourhood etc.)  
              </div>
              
              <div class="alert alert-success hint-box">
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Hint!</strong><br>Examples: new renovations, new appliances, deck, unique features etc.
              </div>
              </div>
          </div>

          <div class="col-md-5 col-sm-6 col-xs-4 min-padding">
                    <a href="#" id="back-to-details">Back</a>
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-4">
                    <%= f.submit "Submit", id:"to-photos"%>
    <%end%>
                  </div> <!-- end summary wrap -->
                  </div> <!-- end server wrap -->
     

                </div>
          </div> <!-- end row -->
          </div> <!-- amenities wrap -->
          <br>
          <br>
      </div> <!-- amenities-page -->


        <!-- ######## PHOTOS ######### -->
        <div id="photos-page">
        <h1>Photos</h1>
         <% unless @listing.nil? %>
        <%= form_for(Image.new, html: { multipart: true, class: "dropzone", id:"listing-images"}) do |f|  %>
        <%= f.hidden_field :listing_id, value: @listing.id %>
        <div class="fallback">
          <%= f.file_field :image %><br>
          <%= f.submit "Upload my image" %>
        </div>
        <% end %>
    <% end %>
        <div class="form-row">
        
    </div>
        <a href="#" id="back-to-amenities">Back</a>
        <div>
      </div>
    </div> <!-- photos-page -->
      
    </div>
  </div>
</div> <!-- form-container end -->

