
<!-- ##################### -->

    <!-- <div id="load"> -->
      <%= form_for @listing, html: { multipart: true } do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="basic-page">
<h1 class="basics-header">Basics</h1>
    
      <div class="form-row">
        <%= f.label :address, "ADDRESS", class: "address-label" %><br>
        
        <%=f.text_field :unit_number, placeholder: "Unit # (optional)", class: "unit-number-form" %><%= f.text_field :address, class: 'address-form', placeholder: "Enter your Address" %>
      </div>


      <div class="bed-bath-half">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4"><div class="bed-bath-half-wrap">
                <%= f.label :bedrooms, "BED"%><br>
                <%= f.select :bedrooms, (1..10).to_a%>
                </div>
            </div>

         <div class="col-md-4 col-sm-4 col-xs-4"><div class="bed-bath-half-wrap">
            <%= f.label :bathrooms, "BATH"%><br>
            <%= f.select :bathrooms, (1..10).to_a%>
            </div>
        </div>

         <div class="col-md-4 col-sm-4 col-xs-4"><div class="bed-bath-half-wrap">
             <%= f.label :half_bathrooms, "HALF BATH"%><br>
            <%= f.select :half_bathrooms, (1..10).to_a%>
            </div>
        </div>
      </div>
    </div>

    <div class="home-neighborhood-form">
    <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
       <div class="home-neighbor-wrap home-arrow"> 
        <%= f.label :home_type, "TYPE OF HOME"%><br>
        <%= f.select :home_type, type_property %>
        </div>
    </div>

     <div class"col-md-6 col-sm-6 col-xs-6">
        <div class="home-neighbor-wrap neighbour-arrow">
        <%= f.label :neighbourhood_id, "NEIGHBOURHOOD" %><br>
        <%= f.collection_select :neighbourhood_id, Neighbourhood.all, :id, :name%>
        </div>
    </div>
    </div>
      </div>
      <div class="form-button-container">
        <a href="#" id="to-details">Next</a>
      </div>
     </div> <!-- basic-page -->

<!-- ##################### -->

      <div id="details-page">
<h1>Details</h1>

        <div class="form-row">
        <%= f.label :postal_code, "Postal Code" %><%= f.text_field :postal_code %>
      </div>

        <div class="form-row">
          <%= f.label :price %><%= f.text_field :price %>
        </div>

        <div class="form-row">
          <%= f.label :size %><%= f.text_field :size %>
        </div>

         <div class="form-row">
          <%= f.label :lot_size, "Lot Size" %><%= f.text_field :lot_size %>
        </div>


        <div class="form-row">
          <%= f.label :year_built, "Year Built" %><%= f.text_field :year_built %>
        </div>


         <div class="form-row">
          <%= f.label :type_ownership, "Type Ownership" %><%= f.text_field :type_ownership %>
        </div>

          <div class="form-row">
          <%= f.label :taxes, "Taxes" %><%= f.text_field :taxes %>
        </div>


          <div class="form-row">
          <%= f.label :strata_fees, "Strata Fees" %><%= f.text_field :strata_fees %>
        </div>
        
        <a href="#" id="back-to-basic">Back</a>
        <a href="#" id="to-amenities">Next</a>
      </div> <!-- details-page -->

<!-- ##################### -->

      <div id="amenities-page">
      <h1>Amenities</h1>

      <h3>Indoors</h3>
        <div class="form-row">
          <%= f.label "Basement" %><%= f.check_box :basement %>
        </div>

        <div class="form-row">
          <%= f.label "Storage" %><%= f.check_box :storage %>
        </div>

         <div class="form-row">
          <%= f.label "Fireplaces" %><%= f.check_box :fireplaces %>
        </div>
        <div class="form-row">
          <%= f.label "A/C" %><%= f.check_box :air_conditioning %>
        </div>

        <div class="form-row">
          <%= f.label "Insuite Laundry" %><%= f.check_box :insuite_laundry %>
        </div>

        <div class="form-row">
          <%= f.label "Washer" %><%= f.check_box :washer %>
        </div>

        <div class="form-row">
          <%= f.label "Dishwasher" %><%= f.check_box :dishwasher %>
        </div>

        <div class="form-row">
          <%= f.label "Stove" %><%= f.check_box :stove %>
        </div>

        <div class="form-row">
          <%= f.label "Fridge" %><%= f.check_box :fridge %>
        </div>


        <div class="form-row">
          <%= f.label "Pet Friendly" %><%= f.check_box :pet_friendly %>
        </div>


      <h3>Outdoors</h3>
         <div class="form-row">
        <%= f.label :elevator%>
          <%= f.check_box :elevator %> 
          </div>         
         <div class="form-row">
        <%= f.label :bike_room %>
            <%= f.check_box :bike_room %>
            </div>
 <div class="form-row">
        <%= f.label :garden%>
            <%= f.check_box :garden %>
            </div>
       
        <div class="form-row">
          <%= f.label "Gym" %><%= f.check_box :gym %>
        </div>


        <div class="form-row">
          <%= f.label "Amenities Room" %><%= f.check_box :amenities_room%>
        </div>

        <div class="form-row">
          <%= f.label "Hot Tub" %><%= f.check_box :hot_tub %>
        </div>

        <div class="form-row">
          <%= f.label "pool" %><%= f.check_box :pool %>
        </div>

        <div class="form-row">
          <%= f.label "Weelchair Accessible" %><%= f.check_box :wheelchair_accessible %>
        </div>

        <div class="form-row">
          <%= f.label "doorman" %><%= f.check_box :doorman %>
        </div>

        <div class="form-row">
        <h3>Property Summary</h3>
        <%= f.text_field :property_summary%>
        </div>
        <div class="form-row">
        <h3>Features Description</h3>
        <%= f.text_field :features_description%>
        </div>
        <a href="#" id="back-to-details">Back</a>
        <a href="#" id="to-photos">Next</a>
      </div> <!-- amenities-page -->

        <!-- ######## PHOTOS ######### -->
        <div id="photos-page">
        <h1>Photos</h1>
        <div class="form-row">
        <%= f.label :image %>
        <%= f.file_field :image%>
    </div>
        <a href="#" id="back-to-amenities">Back</a>
        <div>
        <%= f.submit "Submit" %>
      </div>
    </div> <!-- photos-page -->
      
    </div>
    <%end%>
  </div>
