<div class="col-md-12 col-sm-12 col-xs-12" id="head-top"> <!-- form-head grid -->
  <div class="form-head-left">
  <br>
  <br>
  <p><span id="address-title"></span></p>
  </div>
  <div class="form-head">
    <h4 class="form-header" id="basic-upload-header">Upload Photos</h4>
  </div>
</div> <!-- end form-head grid -->

<div class="col-md-3 col-sm-3 col-xs-12"> <!-- sidebar grid -->
  <div class="side-bar">
  <div id="detaildiv"><i class="fa fa-wpforms fa-2x" aria-hidden="true"></i><br>  <% if @listing.user == current_user %>
    <%= link_to 'Edit Listing', edit_listing_path(@listing), class:"side-nav-a" %> 
  <% end %> </div>
  <div id="detaildiv"><a class="side-nav-a" id="detail-side-click" href="#"><i class="fa fa-wpforms fa-2x" aria-hidden="true"></i><br> Details </a></div>
   <div id="amenitydiv"><a class="side-nav-a" id="amenity-side-click" href="#"><i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i><br> Amenities </a></div>
   <div id="photodiv"><i class="fa fa-camera fa-2x" aria-hidden="true"></i><br> <%=link_to 'edit photos', listing_basic_path(@listing), class:"side-nav-a" %> </div>
   <div id="deletediv"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i><br> <%= link_to "Delete", listing_path(@listing),class:"side-nav-a", data: { confirm: "Are you sure?" },  method: :delete %></div>
  </div>
  

  </div>
</div> <!-- end sidebar grid -->     

<div class="col-md-9 col-sm-9 col-xs-12"><!--photo uploader-->
  <% if @listing.user == current_user %>
    <%= form_for(Image.new, html: { multipart: true, class: "dropzone", id:"listing-images"}) do |f|  %>
      <%= f.hidden_field :listing_id, value: @listing.id%>
      <div class="fallback">
        <%= f.file_field :image %><br>
        <%= f.submit "Upload my image" %>
      </div>
    <% end %>
  <% end %>
</div>
<!--end photo uploader-->

<!--photo output-->
<!-- <div id="upload_photos_basic"> -->
  <% @listing.images.each do |image| %>
    <div class="upload_photos_box">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <!-- <div class="img-thumbnail"> -->
          <%= image_tag image.image.url(:medium), alt: image.image.url(:thumb) %>
          <%= link_to "Delete", image, method: :delete %>
        <!-- </div> -->
      </div>
    </div>
  <% end %>
<!-- </div> -->

<!--photo output-->
