     
 <h1>Photo Edit</h1>
 <% if @listing.user == current_user %>
  <%= form_for(Image.new, html: { multipart: true, class: "dropzone", id:"listing-images"}) do |f|  %>
    <%= f.hidden_field :listing_id, value: @listing.id%>
    <div class="fallback">
      <%= f.file_field :image %><br>
      <%= f.submit "Upload my image" %>
    </div>
  <% end %>
<% end %>


<% @listing.images.each do |image| %>
  <div class="img-thumbnail">
    <%= image_tag image.image.url(:medium), alt: image.image.url(:thumb) %>
  </div>
  <%= link_to "Delete", image, method: :delete %>
<% end %>
<br>

<%= link_to 'Listings Page', listings_path %> 
<% if @listing.user == current_user %>
  <%= link_to 'Edit', edit_listing_path(@listing) %> 
<% end %>