<div id="load">
<!-- <div class="container"> -->
<!-- //////////// -->
<!-- //////////// -->
<!-- HOUSE -->
<!-- //////////// -->
<!-- //////////// -->
<%= form_for @listing do |f| %>
<div class="form-row">
  <%= f.label :price %>
  <%= f.text_field :price %>
</div>
<div class="form-row">
  <%= f.label :year_built, "year built" %>
  <%= f.text_field :year_built %>
</div>
<div class="form-row">
  <%= f.label :lot_size, "lot size" %>
  <%= f.text_field :lot_size %>
</div>
<div class="form-row">
  <%= f.label :size %>
  <%= f.text_field :size %>
</div>
<div class="form-row">
  <%= f.label :levels %>
  <%= f.text_field :levels%>
</div>
<div class="form-row">
  <%= f.label :basement %>
  <%= f.select :basement, [['Yes', true], ['No', false]] %>
</div>
<div class="form-row">
  <%= f.label :garage %>
  <%= f.select :garage, [['Yes', true], ['No', false]] %>
</div>
  <div class="form-row">
  <%= f.label :garden %>
  <%= f.select :garden, [['Yes', true], ['No', false]] %>
</div>
<%end %>
<!-- <div class="container"> -->
<!-- //////////// -->
<!-- //////////// -->
<!-- Condo -->
<!-- //////////// -->
<!-- //////////// -->
<%= form_for @listing do |f| %>
<div class="form-row">
  <%= f.label :price %>
  <%= f.text_field :price %>
</div>
<div class="form-row">
  <%= f.label :year_built, "year built" %>
  <%= f.text_field :year_built %>
</div>

<div class="form-row">
  <%= f.label :size %>
  <%= f.text_field :size %>
</div>
<div class="form-row">
  <%= f.label :strata_fees, "Strata Fees" %>
  <%= f.text_field :strata_fees%>
</div>
<div class="form-row">
  <%= f.label :elevator %>
  <%= f.select :elevator, [['Yes', true], ['No', false]] %>
</div>
<div class="form-row">
  <%= f.label :parking %>
  <%= f.select :parking, [['Yes', true], ['No', false]] %>
</div>
  <div class="form-row">
  <%= f.label :storage %>
  <%= f.select :storage, [['Yes', true], ['No', false]] %>
</div>
 <div class="form-row">
  <%= f.label :bike_room, "Bike Room" %>
  <%= f.select :bike_room, [['Yes', true], ['No', false]] %>
</div>
<div class="form-row">
  <%= f.label :insuite_laundry, "Laundry Room" %>
  <%= f.select :insuite_laundry, [['Yes', true], ['No', false]] %>
</div>
<div class="form-row">
  <%= f.label :pet_firendly, "Pet Friendly" %>
  <%= f.select :pet_firendly, [['Yes', true], ['No', false]] %>
</div>
<%end %>
<!-- //////////// -->
<!-- //////////// -->
<!-- Townhouse -->
<!-- //////////// -->
<!-- //////////// -->
<%= form_for @listing do |f| %>
<div class="form-row">
  <%= f.label :price %>
  <%= f.text_field :price %>
</div>
<div class="form-row">
  <%= f.label :year_built, "year built" %>
  <%= f.text_field :year_built %>
</div>

<div class="form-row">
  <%= f.label :size %>
  <%= f.text_field :size %>
</div>
<div class="form-row">
  <%= f.label :strata_fees, "Strata Fees" %>
  <%= f.text_field :strata_fees%>
</div>

<div class="form-row">
  <%= f.label :parking %>
  <%= f.select :parking, [['Yes', true], ['No', false]] %>
</div>
  <div class="form-row">
  <%= f.label :storage %>
  <%= f.select :storage, [['Yes', true], ['No', false]] %>
</div>
 
<div class="form-row">
  <%= f.label :insuite_laundry, "Laundry Room" %>
  <%= f.select :insuite_laundry, [['Yes', true], ['No', false]] %>
</div>

<%end %>


</div>

