<h1>Index of Properties</h1>

<div class="container">

  <table>
      <tr>
        <td>address</td>
        <td>city</td>
        <td>price</td>
        <td>numOfBed</td>
        <td>numOfBath</td>
        <td>fullBathrooms</td>
        <td>halfBathrooms</td>
        <td>levels</td>
        <td>sqft</td>
        <td>lotSize</td>
        <td>yearBuilt</td>
        <td>homeType</td>
        <td>typeOwnership</td>
        <td>extraFeaturesDescription</td>
        <td>propertySummary</td>
        <td>fireplaces</td>
        <td>basementArea</td>
        <td>taxes</td>
        <td>strataFees</td>
        <td>propertySummary</td>
        <td>walkscore</td>
        <td>daysListed</td>
        <td>lastUpdated</td>
      </tr>

    <% @listings.each do |listing| %>

      <tr>
        <td><%= listing.address %></td>
        <td><%= listing.city %></td>
        <td><%= listing.price %></td>
        <td><%= listing.numOfBed %></td>
        <td><%= listing.numOfBath %></td>
        <td><%= listing.fullBathrooms %></td>
        <td><%= listing.halfBathrooms %></td>
        <td><%= listing.levels %></td>
        <td><%= listing.sqft %></td>
        <td><%= listing.lotSize %></td>
        <td><%= listing.yearBuilt %></td>
        <td><%= listing.homeType %></td>
        <td><%= listing.typeOwnership %></td>
        <td><%= listing.extraFeaturesDescription %></td>
        <td><%= listing.propertySummary %></td>
        <td><%= listing.fireplaces %></td>
        <td><%= listing.basementArea %></td>
        <td><%= listing.taxes %></td>
        <td><%= listing.strataFees %></td>
        <td><%= listing.propertySummary %></td>
        <td><%= listing.walkscore %></td>
        <td><%= listing.daysListed %></td>
        <td><%= listing.lastUpdated %></td>


      </tr>
    <% end %>
    
  </table>
</div>
