
<!-- Listings -->
<section id="feature-listing">

<!-- <div class="container feature-listing"> -->
  <!-- <div class="row"> -->
    <!-- PLACE HOLDER FOR CSS TESTING -->
<!-- 
         <div class="col-md-4 col-sm-6 cols-xs-12">
       <div class="featureList text-center">
         
           <div id="carousel-listing-1" class="carousel slide" data-ride="carousel">

           <div class="carousel-inner">
             <div class="item active">
               <img src="/assets/listing_images/property1_1.jpg" alt="..."
             </div>
             <div class="item">
               <img src="/assets/listing_images/property1_2.jpg" alt="...">
             </div>
             <div class="item">
               <img src="/assets/listing_images/property1_3.jpg" alt="...">
             </div>
           </div>

           <a class="left carousel-control c-control" href="#carousel-listing-1" role="button" data-slide="prev">
             <span class="icon-prev" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
           </a>
           <a class="right carousel-control c-control" href="#carousel-listing-1" role="button" data-slide="next">
             <span class="icon-next" aria-hidden="true"></span>
             <span class="sr-only">Next</span>
           </a>
         </div>

         <div class="title">
           <h4 class="regular property-price">$1,400,000</h4>
           <div class="feature-short-info">
             <p class="muted regular address"><em>1234 Cambie St. Vancouver</em></p>
             <div class="muted regular area">
               2,345 sqr/ft
             </div>
             <div class="bedbath">
               <p class="muted regular bedroom"><em><i class="fa fa-bed" aria-hidden="true"></i></em>
               <container class="bathroom"><em>bath</em></container></p>
             </div>
           </div>
         </div>
       </div>
     </div>
 -->    <!-- PLACE HOLDER FOR CSS TESTING ENDS-->

    <% @listings.each do |listing| %>
     <div class="col-md-4 col-sm-6 cols-xs-12">
       <div class="featureList text-center">
         
<!--            <div id="carousel-listing-1" class="carousel slide carousel-listing" data-ride="carousel">

           <div class="carousel-inner">
             <div class="item active">
               <img src="/assets/listing_images/property1_1.jpg" alt="...">
             </div>
             <div class="item">
               <img src="/assets/listing_images/property1_2.jpg" alt="...">
             </div>
             <div class="item">
               <img src="/assets/listing_images/property1_3.jpg" alt="...">
             </div>
           </div> -->

           <a class="left carousel-control c-control" href="#carousel-listing-1" role="button" data-slide="prev">
             <span class="icon-prev" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
           </a>
           <a class="right carousel-control c-control" href="#carousel-listing-1" role="button" data-slide="next">
             <span class="icon-next" aria-hidden="true"></span>
             <span class="sr-only">Next</span>
           </a>
         </div>

         <div class="title">
           <h4 class="regular property-price">$ <%= listing.price %></h4>
           <div class="feature-short-info">
             <p class="muted regular address"><em><%= listing.address %></em></p>
             <div class="muted regular area"><%= listing.size %>sqft
             </div>
             <div class="bedbath">
               <p class="muted regular bedroom"><em><%= listing.bedrooms %><i class="fa fa-bed" aria-hidden="true"></i></em>
               <container class="bathroom"><em><%= listing.bathrooms %>bath</em></container></p>

        <% if listing.user == current_user %>
          <div class="actions">            
            <%= link_to edit_listing_path(listing) do %>
              <span class="glyphicon glyphicon-edit"></span>
                Edit
            <% end %>          
            <%= link_to listing, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
                Delete
            <% end %>          
          </div>
        <% end %>


             </div>
           </div>

         </div>
       </div>
       
     <!-- </div> -->
    <%end%>
   <!-- </div> -->
 <!-- </div> -->


      <!-- Three columns of text below the carousel -->
      <!-- <div class="row"> -->
<!-- 

      <div class="col-md-4 col-sm-6 cols-xs-12">
        <div class="featureList text-center">
          
            <div id="carousel-listing-1" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
              <div class="item active">
                <img src="/assets/listing_images/property1_1.jpg" alt="...">
              </div>
              <div class="item">
                <img src="/assets/listing_images/property1_2.jpg" alt="...">
              </div>
              <div class="item">
                <img src="/assets/listing_images/property1_3.jpg" alt="...">
              </div>
            </div>

            <a class="left carousel-control c-control" href="#carousel-listing-1" role="button" data-slide="prev">
              <span class="icon-prev" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control c-control" href="#carousel-listing-1" role="button" data-slide="next">
              <span class="icon-next" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <div class="feature-short-info">
            <h4 class="regular property-price">$1,400,000</h4>
              <p class="muted regular address"><em>1234 Cambie St. Vancouver</em></p>
              <div class="bedbath">
                <p class="muted regular bedroom"><em>bed</em>
                <container class="bathroom"><em>bath</em></container></p>
              </div>
          </div>
        </div>
      </div> -->


  
</section>
<!-- Listings Ends -->


