<%= render 'layouts/header' %>
<%= render 'layouts/bookmarkRightBar' %>
<%#= render 'layouts/search' %>

<!-- Listing Box Begins -->
<div class="row listing">
  <% @listings.each_with_index do |listing, index| %>
    <div class=" listing-box col-md-4 col-sm-4 cols-xs-12 ">
      <div class="featureList text-center">
        <div id="carousel-listing-<%= index+1 %>" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            

        <% listing.images.each_with_index do |image, index| %>

            <div class=
            <% if index==0 %> "item active" <% else %> "item" <% end %>
            >
              <%= image_tag image.image.url(:large), alt: image.image.url(:thumb) %>
            </div>
          <% end %>



          </div>
          <a class="left carousel-control c-control" href="#carousel-listing-<%= index+1 %>" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control c-control" href="#carousel-listing-<%= index+1 %>" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <div class="listing-box-info">
            <h4 class="regular property-price">$<%= link_to to_currency(listing.price), listing %></h4>
            <div class="feature-short-info">
              <p class="address"><%= listing.address %></p>
              <p>
                <span class="bedroom"><%= listing.bedrooms %> Bedrooms</span>
                <span class="bathroom"><%= listing.bathrooms %> Bathrooms</span>
                <span class="size"><%= to_currency(listing.size) %> sqr/ft</span>
                <%= link_to '<i class="fa fa-bookmark-o" aria-hidden="true"></i>'.html_safe,listing_add_bookmark_path(:listing_id=>listing.id), 'data-method' => 'post', 'data-remote' => 'true', 'data-type' => 'json', 'class' => 'bookmark' %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- Listing Box Ends -->

<div id="page_number">  <%= paginate @listings %> </div>
  <%= render 'layouts/footer' %>

