
<%= form_for @listing do |f| %>

    <div class="form-title-row">
        <h1>List Your Property</h1>
    </div>
    <div class="form-row">
        <%= f.label :size%>
        <%= f.text_field :size %>
    </div>
    <div class="form-row">
        <%= f.label :size%>
        <%= f.text_field :size %>
    </div>
    
    <div class"form-row">
        <%= f.label :neighbourhood_id, "Neighbourhood" %>
        <%= f.collection_select :neighbourhood_id, Neighbourhood.all, :id, :name%>
    </div>

    <div class="form-row">
        <%= f.label :home_type, "Type of Property"%>
        <%= f.select :home_type, type_property %>
    </div>

    <div class="form-row">
        <%= f.label :type_ownership, "Type of Ownership"%>
        <%= f.select :type_ownership, type_ownership %>
    </div>

    <div class="form-row">
        <%= f.label :bedrooms, "Number of Rooms"%>
        <%= f.select :bedrooms, (1..10).to_a%>
    </div>

    <div class="form-row">
      <span>Common Area Amenities</span><br>
        <%= f.label :gym %>
            <%= f.check_box :gym %>
        <%= f.label :amenities_room %>
            <%= f.check_box :amenities_room %>            
        <%= f.label :elevator%>
            <%= f.check_box :elevator %>          
        <%= f.label :bike_room %>
            <%= f.check_box :bike_room %>
        <%= f.label :garden%>
            <%= f.check_box :garden %>>
        <%= f.label :pool%>
            <%= f.check_box :pool %>

        <%= f.label :insuite_laundry, "In Home Laundry"%>
            <%= f.check_box :insuite_laundry %>
        <%= f.label :dishwasher%>
            <%= f.check_box :dishwasher %>
        <%=f.label :stove%>
            
            <%= f.check_box :stove %>
        <%=f.label :fridge%>
            <%= f.check_box :fridge %>
        <%= f.label :hot_tub%>
            <%= f.check_box :hot_tub %>
        <%= f.label :pool%>
            <%= f.check_box :pool %>

        <span>Other Features</span><br>
        <%= f.label :pet_friendly%>          
            <%= f.check_box :pet_friendly %>
        <%= f.label :wheelchair_accessible%>
            <%= f.check_box :wheelchair_accessible %>
    </div>

    <div class="form-row">
        <%= f.label :property_summary%>
        <%= f.text_field :property_summary%>
    </div>


      <div class="form-row">
          <button type="submit">Submit Form</button>
      </div>
<%end%>
