<h1>You found <%= @results.count %> results</h1>
<ul>
<% @results.each do |result| %>
  <li>
    <%= result.address %> | $<%= result.price %> | <%= result.bedrooms %> | <%= result.bathrooms %>
  </li>
<% end %>
</ul>