<div class="main-content">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-default">

        <p>
        <% if @listing.user == current_user %>
          <%= form_for(Image.new, html: { multipart: true, class: "dropzone", id:"listing-images"}) do |f|  %>
            <%= f.hidden_field :listing_id, value: @listing.id%>
            <div class="fallback">
              <%= f.file_field :image %><br>
              <%= f.submit "Upload my image" %>
            </div>
          <% end %>
        <% end %>

        <% @listing.images.each do |image| %>
          <div class="img-thumbnail">
            <%= image_tag image.image.url(:medium), alt: image.image.url(:thumb) %>
          </div>
        <% end %>
     
        <p>Address: <span id="address"><%= @listing.address.titleize %></span></p>
        <p>Price: $<%= @listing.price %></p>
        <p><%= @listing.bedrooms %> bathrooms</p>
        <p><%= @listing.bathrooms %> bathrooms</p>
        <p>Size: <%= @listing.size %> sqft</p>
        <p>Neighbourhood: <%= @listing.neighbourhood.name%></p>
        <p>Storage: <%= human_boolean(@listing.storage) %></p>
        <p>Insuite laundry: <%= human_boolean(@listing.insuite_laundry) %></p>
        <p>Gym: <%= human_boolean(@listing.gym) %></p>
        <p>Doorman: <%= human_boolean(@listing.doorman) %></p>
      <% if @listing.user == current_user %>
        <%= link_to 'Edit', edit_listing_path(@listing) %> 
      <% end %>

      <div id="map"></div>
        <%= link_to 'Listings Page', listings_path %> 



    </div>
  </div>
</div>
