

<div class="main-content">


<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">

      <p>
        <p>$<%= @listing.price %></p>
        <p><%= @listing.bedrooms %> bathrooms</p>
        <p><%= @listing.bathrooms %> bathrooms</p>
        <p>Size: <%= @listing.size %> sqft</p>
        <p>Price: <%= @listing.price %></p>
        <p>Year Built: <%= @listing.year_built %></p>
        <%= @listing.year_built %>
      </p>


    </div>
  </div>
</div>

