

<div class="main-content">


<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">

     
        <p>Address: <span id="address"><%= @listing.address %></span></p>
        <p>Price: $<%= @listing.price %></p>
        <p><%= @listing.bedrooms %> bathrooms</p>
        <p><%= @listing.bathrooms %> bathrooms</p>
        <p>Size: <%= @listing.size %> sqft</p>
        <p>Neighbourhood: <%= @listing.neighbourhood.name%></p>
        <p>Storage: <%= @listing.storage%></p>
        <p>Insuite laundry: <%= @listing.insuite_laundry%></p>
        <p>Gym: <%= human_boolean(@listing.gym) %></p>
        <p>Doorman: <%= @listing.doorman%></p>
      <% if @listing.user == current_user %>
        <%= link_to 'Edit', edit_listing_path(@listing) %> 
      <% end %>
<div id="map"></div>
      <%= link_to 'Listings Page', listings_path %> 



    </div>
  </div>
</div>
