<!-- Carousel Begins-->

<section class="carousel slide carousel-fade anchor" data-ride="carousel">
  <div id="welcome-carousel">
    <div class="shadow-layer"></div>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "welcome_bg1_1900_700.png" %>
      </div>
      <div class="item">
        <%= image_tag "welcome_bg2_1900_700.png" %>
      </div>
      <div class="item">
        <%= image_tag "welcome_bg3_1900_700.png" %>
      </div>
    </div>
  </div>
</section>

<!-- Carousel Ends-->


<!-- Search Box Cluster Begins-->

<section class="overlay search">
  <div class="vertical-center">
    <div class="container text-center">
      <h1 id="tagline">The easiest way to list and buy a home.</h1>
        <div class="col-lg-6 col-md-6 col-xs-6">
          <%= form_tag listings_path, method: :get do %>
            <div class="input-group">
            <%= text_field_tag :query,nil, class: "form-control", placeholder: "City, Neighbourhood, and/or Address" %>
              <span class="input-group-btn">
                <%= submit_tag "Search", class: "btn btn-default" %>
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
            <div class='row seletion-menu'>
              <div class='col-sm-3'>    
                <div class='form-group'>
                  <%= select_tag "query_options[price][gte]", options_for_select([["Min Price", 0], ["$300,000", 300000], ["$400,000", 400000], ["$500,000", 500000], ["$600,000", 600000], ["$700,000", 700000], ["$800,000", 800000], ["$900,000", 900000], ["$1,000,000", 1000000], ["$2,000,000", 2000000], ["Min Price", 0]]), class: "form-control"%>
                </div>
              </div>
              <div class='col-sm-3'>
                <div class='form-group'>
                   <%= select_tag "query_options[price][lte]", options_for_select([["Max Price", 999999999999999999], ["$400,000",400000],["$500,000", 500000], ["$600,000", 600000], ["$700,000", 700000], ["$800,000",800000], ["$900,000", 900000], ["$1,000,000", 1000000], ["$2,000,000", 2000000], ["$3,000,000", 3000000], ["$4,000,000", 4000000], ["$5,000,000", 5000000]]), class: "form-control"%>
                </div>
              </div>
              <div class='col-sm-3'>
                <div class='form-group'>
                 <%= select_tag "query_options[bedrooms][gte]", options_for_select([["Bedrooms", 0],["1+ Bedrooms", 1], ["2+ Bedrooms", 2], ["3+ Bedrooms", 3], ["4+ Bedrooms", 4], ["5+ Bedrooms", 5]],["Bedrooms", 0]), class: "form-control" %>
                </div>
              </div>
              <div class='col-sm-3'>
                <div class='form-group'>
                  <%= select_tag "query_options[bathrooms][gte]", options_for_select([["Bathrooms", 0],["1+ Bathrooms", 1], ["2+ Bathrooms", 2], ["3+ Bathrooms", 3], ["4+ Bathrooms", 4], ["5+ Bathrooms", 5]],["Bathrooms", 0]), class: "form-control" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <!-- </div> -->

      <!-- Search Box Ends -->


      <!-- Optional Selection Begins-->


    </div>

  </div> 
  <!-- Optional Selection Ends--> 
</section>

<!-- Search Box Cluster Ends -->

<!-- Choose us! Begins-->


<section id="choose-us" class="anchor">

  <div class="row">
    <h3 class="heading">Why Unlisted?</h3>
    <h5 class="sub-heading">Blah blah say something smart here</h5>
    <div class="col-md-4 col-sm-6 cols-xs-12">
     <i class="fa fa-usd fa-5x" aria-hidden="true"></i>
     <h4 class="heading">Save Money</h4>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dignissimos, repellat assumenda.</p>
   </div>
   <div class="col-md-4 col-sm-6 cols-xs-12">
    <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
    <h4 class="heading">Save Time</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ex, eaque totam.</p>
  </div>

  <div class="col-md-4 col-sm-6 cols-xs-12">
    <i class="fa fa-paper-plane fa-5x" aria-hidden="true"></i>
    <h4 class="heading">Easy to List</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam consequatur cum, enim?</p>
  </div>
</div>
</section>
<!-- Choose us! Ends-->


<!-- Feature Listing Begins -->

<section id="feature-listing"> 
  <h3 class="heading">Featured Listings</h3>
  <h5 class="sub-heading">Blah blah blah say sth smart here</h5>
   <div class="row">

    <!-- Listing box Begins-->
    <div class="col-md-4 col-sm-6 cols-xs-12 ">
      <div class="featureList text-center">

        <div id="carousel-listing-1" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="item active">
               <%= image_tag "listing_images/property1_1.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_2.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_3.jpg" %>
            </div>
          </div>

          <a class="left carousel-control c-control" href="#carousel-listing-1" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control c-control" href="#carousel-listing-1" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="listing-box-info">
          <h4 class="regular property-price">$1,400,000</h4>
          <div class="feature-short-info">
            <p class="muted regular address"><em>1234 Cambie St. Vancouver</em></p>
            <div class="muted regular area">
              2,345 sqr/ft
            </div>
            <div class="bedbath">
              <p class="muted regular bedroom"><em><i class="fa fa-bed" aria-hidden="true"></i></em>
                <container class="bathroom"><em>bath</em></container>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Listing box Ends-->

    <!-- Listing box Begins-->
    <div class="col-md-4 col-sm-6 cols-xs-12">
      <div class="featureList text-center">

        <div id="carousel-listing-2" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="item active">
               <%= image_tag "listing_images/property1_1.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_2.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_3.jpg" %>
            </div>
          </div>

          <a class="left carousel-control c-control" href="#carousel-listing-2" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control c-control" href="#carousel-listing-2" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="listing-box-info">
          <h4 class="regular property-price">$1,400,000</h4>
          <div class="feature-short-info">
            <p class="muted regular address"><em>1234 Cambie St. Vancouver</em></p>
            <div class="muted regular area">
              2,345 sq ft
            </div>
            <div class="bedbath">
              <p class="muted regular bedroom"><em><i class="fa fa-bed" aria-hidden="true"></i></em>
                <container class="bathroom"><em>bath</em></container>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Listing box Ends-->

    <!-- Listing box Begins-->
    <div class="col-md-4 col-sm-6 cols-xs-12">
      <div class="featureList text-center">

        <div id="carousel-listing-3" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="item active">
               <%= image_tag "listing_images/property1_1.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_2.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_3.jpg" %>
            </div>
          </div>

          <a class="left carousel-control c-control" href="#carousel-listing-3" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control c-control" href="#carousel-listing-3" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="listing-box-info">
          <h4 class="regular property-price">$1,400,000</h4>
          <div class="feature-short-info">
            <p class="muted regular address"><em>1234 Cambie St. Vancouver</em></p>
            <div class="muted regular area">
              2,345 sq ft
            </div>
            <div class="bedbath">
              <p class="muted regular bedroom"><em><i class="fa fa-bed" aria-hidden="true"></i></em>
                <container class="bathroom"><em>bath</em></container>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Listing box Ends-->
    
    <!-- Listing box Begins-->
    <div class="col-md-4 col-sm-6 cols-xs-12">
      <div class="featureList text-center">

        <div id="carousel-listing-4" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="item active">
               <%= image_tag "listing_images/property1_1.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_2.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_3.jpg" %>
            </div>
          </div>

          <a class="left carousel-control c-control" href="#carousel-listing-4" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control c-control" href="#carousel-listing-4" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="listing-box-info">
          <h4 class="regular property-price">$1,400,000</h4>
          <div class="feature-short-info">
            <p class="muted regular address"><em>1234 Cambie St. Vancouver</em></p>
            <div class="muted regular area">
              2,345 sq ft
            </div>
            <div class="bedbath">
              <p class="muted regular bedroom"><em><i class="fa fa-bed" aria-hidden="true"></i></em>
                <container class="bathroom"><em>bath</em></container>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Listing box Ends-->

    <!-- Listing box Begins-->
    <div class="col-md-4 col-sm-6 cols-xs-12">
      <div class="featureList text-center">

        <div id="carousel-listing-5" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="item active">
               <%= image_tag "listing_images/property1_1.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_2.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_3.jpg" %>
            </div>
          </div>

          <a class="left carousel-control c-control" href="#carousel-listing-5" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control c-control" href="#carousel-listing-5" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="listing-box-info">
          <h4 class="regular property-price">$1,400,000</h4>
          <div class="feature-short-info">
            <p class="muted regular address"><em>1234 Cambie St. Vancouver</em></p>
            <div class="muted regular area">
              2,345 sq ft
            </div>
            <div class="bedbath">
              <p class="muted regular bedroom"><em><i class="fa fa-bed" aria-hidden="true"></i></em>
                <container class="bathroom"><em>bath</em></container>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Listing box Ends-->

    <!-- Listing box Begins-->
    <div class="col-md-4 col-sm-6 cols-xs-12">
      <div class="featureList text-center">

        <div id="carousel-listing-6" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="item active">
               <%= image_tag "listing_images/property1_1.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_2.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_3.jpg" %>
            </div>
          </div>

          <a class="left carousel-control c-control" href="#carousel-listing-6" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control c-control" href="#carousel-listing-6" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="listing-box-info">
          <h4 class="regular property-price">$1,400,000</h4>
          <div class="feature-short-info">
            <p class="muted regular address"><em>1234 Cambie St. Vancouver</em></p>
            <div class="muted regular area">
              2,345 sq ft
            </div>
            <div class="bedbath">
              <p class="muted regular bedroom"><em><i class="fa fa-bed" aria-hidden="true"></i></em>
                <container class="bathroom"><em>bath</em></container>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Listing box Ends-->
  </div>
</section>
<!-- Feature Listing Ends -->



