<!-- Carousel Begins-->

<section class="carousel slide carousel-fade anchor" data-ride="carousel">
  <div id="welcome-carousel">
    <div class="shadow-layer"></div>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "welcome_bg1_1900_700.png" %>
      </div>
      <div class="item">
        <%= image_tag "welcome_bg2_1900_700.png" %>
      </div>
      <div class="item">
        <%= image_tag "welcome_bg3_1900_700.png" %>
      </div>
    </div>
  </div>
</section>

<!-- Carousel Ends-->

<!-- Search Box Cluster Begins-->

<%= render 'layouts/search' %>

<!-- Search Box Cluster Ends -->



<!-- Choose Us Begins -->

<section id="choose-us" class="anchor">

  <div class="row">
    <h3 class="heading">Why Unlisted?</h3>
    <h5 class="sub-heading"></h5>
    <div class="col-md-4 col-sm-6 cols-xs-12">
     <i class="fa fa-usd fa-5x" aria-hidden="true"></i>
     <h4 class="heading">Save Money</h4>
     <p>Saving you thousands of dollars in lieu of a real estate agent.</p>
   </div>
   <div class="col-md-4 col-sm-6 cols-xs-12">
    <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
    <h4 class="heading">Save Time</h4>
    <p>Giving you your weekends back.</p>
  </div>

  <div class="col-md-4 col-sm-6 cols-xs-12">
    <i class="fa fa-paper-plane fa-5x" aria-hidden="true"></i>
    <h4 class="heading">Easy to List</h4>
    <p>Have your home listed in under than 5 minutes!</p>
  </div>
</div>
</section>

<!-- Choose Us Ends -->




<!-- Feature Listing Begins -->

<section id="feature-listing"> 
  <h3 class="heading">Featured Listings</h3>
  <h5 class="sub-heading">Blah blah blah say sth smart here</h5>
   <div class="row">

    <!-- Listing box Begins-->
    <div class="col-md-4 col-sm-6 cols-xs-12 ">
      <div class="featureList text-center">

        <div id="carousel-listing-1" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="item active">
               <%= image_tag "listing_images/property1_1.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_2.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_3.jpg" %>
            </div>
          </div>

          <a class="left carousel-control c-control" href="#carousel-listing-1" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control c-control" href="#carousel-listing-1" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="listing-box-info">
          <h4 class="regular property-price">$1,400,000</h4>
          <div class="feature-short-info">
            <p class="muted regular address"><em>1234 Cambie St. Vancouver</em></p>
            <div class="muted regular area">
              2,345 sq ft
            </div>
            <div class="bedbath">
              <p class="muted regular bedroom"><em><i class="fa fa-bed" aria-hidden="true"></i></em>
                <container class="bathroom"><em>bath</em></container>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Listing box Ends-->

    <!-- Listing box Begins-->
    <div class="col-md-4 col-sm-6 cols-xs-12">
      <div class="featureList text-center">

        <div id="carousel-listing-2" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="item active">
               <%= image_tag "listing_images/property1_1.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_2.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_3.jpg" %>
            </div>
          </div>

          <a class="left carousel-control c-control" href="#carousel-listing-2" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control c-control" href="#carousel-listing-2" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="listing-box-info">
          <h4 class="regular property-price">$1,400,000</h4>
          <div class="feature-short-info">
            <p class="muted regular address"><em>1234 Cambie St. Vancouver</em></p>
            <div class="muted regular area">
              2,345 sqr/ft
            </div>
            <div class="bedbath">
              <p class="muted regular bedroom"><em><i class="fa fa-bed" aria-hidden="true"></i></em>
                <container class="bathroom"><em>bath</em></container>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Listing box Ends-->

    <!-- Listing box Begins-->
    <div class="col-md-4 col-sm-6 cols-xs-12">
      <div class="featureList text-center">

        <div id="carousel-listing-3" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="item active">
               <%= image_tag "listing_images/property1_1.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_2.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_3.jpg" %>
            </div>
          </div>

          <a class="left carousel-control c-control" href="#carousel-listing-3" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control c-control" href="#carousel-listing-3" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="listing-box-info">
          <h4 class="regular property-price">$1,400,000</h4>
          <div class="feature-short-info">
            <p class="muted regular address"><em>1234 Cambie St. Vancouver</em></p>
            <div class="muted regular area">
              2,345 sqr/ft
            </div>
            <div class="bedbath">
              <p class="muted regular bedroom"><em><i class="fa fa-bed" aria-hidden="true"></i></em>
                <container class="bathroom"><em>bath</em></container>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Listing box Ends-->
    
    <!-- Listing box Begins-->
    <div class="col-md-4 col-sm-6 cols-xs-12">
      <div class="featureList text-center">

        <div id="carousel-listing-4" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="item active">
               <%= image_tag "listing_images/property1_1.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_2.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_3.jpg" %>
            </div>
          </div>

          <a class="left carousel-control c-control" href="#carousel-listing-4" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control c-control" href="#carousel-listing-4" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="listing-box-info">
          <h4 class="regular property-price">$1,400,000</h4>
          <div class="feature-short-info">
            <p class="muted regular address"><em>1234 Cambie St. Vancouver</em></p>
            <div class="muted regular area">
              2,345 sqr/ft
            </div>
            <div class="bedbath">
              <p class="muted regular bedroom"><em><i class="fa fa-bed" aria-hidden="true"></i></em>
                <container class="bathroom"><em>bath</em></container>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Listing box Ends-->

    <!-- Listing box Begins-->
    <div class="col-md-4 col-sm-6 cols-xs-12">
      <div class="featureList text-center">

        <div id="carousel-listing-5" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="item active">
               <%= image_tag "listing_images/property1_1.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_2.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_3.jpg" %>
            </div>
          </div>

          <a class="left carousel-control c-control" href="#carousel-listing-5" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control c-control" href="#carousel-listing-5" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="listing-box-info">
          <h4 class="regular property-price">$1,400,000</h4>
          <div class="feature-short-info">
            <p class="muted regular address"><em>1234 Cambie St. Vancouver</em></p>
            <div class="muted regular area">
              2,345 sqr/ft
            </div>
            <div class="bedbath">
              <p class="muted regular bedroom"><em><i class="fa fa-bed" aria-hidden="true"></i></em>
                <container class="bathroom"><em>bath</em></container>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Listing box Ends-->

    <!-- Listing box Begins-->
    <div class="col-md-4 col-sm-6 cols-xs-12">
      <div class="featureList text-center">

        <div id="carousel-listing-6" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="item active">
               <%= image_tag "listing_images/property1_1.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_2.jpg" %>
            </div>
            <div class="item">
               <%= image_tag "listing_images/property1_3.jpg" %>
            </div>
          </div>

          <a class="left carousel-control c-control" href="#carousel-listing-6" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control c-control" href="#carousel-listing-6" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="listing-box-info">
          <h4 class="regular property-price">$1,400,000</h4>
          <div class="feature-short-info">
            <p class="muted regular address"><em>1234 Cambie St. Vancouver</em></p>
            <div class="muted regular area">
              2,345 sqr/ft
            </div>
            <div class="bedbath">
              <p class="muted regular bedroom"><em><i class="fa fa-bed" aria-hidden="true"></i></em>
                <container class="bathroom"><em>bath</em></container>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Listing box Ends-->
  </div>
</section>
<!-- Feature Listing Ends -->



