
<section class="overlay nav navbar">

<img id="nav-logo" src="/assets/unlisted-logo.png" />
  <div class="navbar-collapse collapse navbar-right">
    <ul class="nav navbar-nav">
      <li class="hvr-underline-reveal"><a href="/">Home</a></li>
      <li class="hvr-underline-reveal"><a href="#choose-us">Why us?</a></li>
      <li class="hvr-underline-reveal"><a href="#feature-listing">Featured Listings</a></li>
      <li class ="hvr-underline-reveal"><%= link_to "Housing Analytics", charts_path %>
      <li class ="hvr-underline-reveal"><%= link_to "Vendors", vendors_path %>

      <li class ="hvr-underline-reveal"><a href="#" id="bookmark-btn">Bookmarks</a></li>
      <li class ="hvr-underline-reveal"><%= link_to "Vendors", vendors_path %>
     <% if user_signed_in? %>
        <li class ="hvr-underline-reveal"><%= link_to "New Listing", new_listing_path %></li>
        <li class="hvr-underline-reveal"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
     <% else %>
        <li class="hvr-underline-reveal"><%= link_to "Log in", new_user_session_path%></a></li>
        <li class="hvr-underline-reveal"><%= link_to "Sign up", new_user_registration_path%></a></li> 
    <% end %>  
      <% if user_signed_in? %>
      <li class="hvr-underline-reveal"><a><%= User.find(current_user.id).firstname %></a></li>
      <% end %>
    </ul>
  </div>
</section>


