<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert alert-info") %>
<% end %>

<section class="overlay search">
  <div class="vertical-center">
    <div class="container text-center">
      <h1 id="tagline">The easiest way to list and buy a home.</h1>
        <div class="col-lg-6 col-md-6 col-xs-6">
          <%= form_tag listings_path, method: :get do %>
            <div class="input-group">
            <%= text_field_tag :query,nil, class: "form-control", placeholder: "Enter a neighbourhood or address" %>
              <span class="input-group-btn">
                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                   <i class="glyphicon glyphicon-search"></i>
                <% end %>
              </span>
            </div>
            <div class='row seletion-menu'>
              <div class='col-sm-3'>    
                <div class='form-group'>
                  <%= select_tag "query_options[price][gte]", options_for_select([["Min Price", 0], ["$300,000", 300000], ["$400,000", 400000], ["$500,000", 500000], ["$600,000", 600000], ["$700,000", 700000], ["$800,000", 800000], ["$900,000", 900000], ["$1,000,000", 1000000], ["$2,000,000", 2000000], ["Min Price", 0]]), class: "form-control"%>
                </div>
              </div>
              <div class='col-sm-3'>
                <div class='form-group'>
                   <%= select_tag "query_options[price][lte]", options_for_select([["Max Price", 999999999999999999], ["$400,000",400000],["$500,000", 500000], ["$600,000", 600000], ["$700,000", 700000], ["$800,000",800000], ["$900,000", 900000], ["$1,000,000", 1000000], ["$2,000,000", 2000000], ["$3,000,000", 3000000], ["$4,000,000", 4000000], ["$5,000,000", 5000000]]), class: "form-control"%>
                </div>
              </div>
              <div class='col-sm-3'>
                <div class='form-group'>
                 <%= select_tag "query_options[bedrooms][gte]", options_for_select([["Bedrooms", 0],["1+ Bedrooms", 1], ["2+ Bedrooms", 2], ["3+ Bedrooms", 3], ["4+ Bedrooms", 4], ["5+ Bedrooms", 5]],["Bedrooms", 0]), class: "form-control" %>
                </div>
              </div>
              <div class='col-sm-3'>
                <div class='form-group'>
                  <%= select_tag "query_options[bathrooms][gte]", options_for_select([["Bathrooms", 0],["1+ Bathrooms", 1], ["2+ Bathrooms", 2], ["3+ Bathrooms", 3], ["4+ Bathrooms", 4], ["5+ Bathrooms", 5]],["Bathrooms", 0]), class: "form-control" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div> 
</section>